//- Cards
.cards
  .card
    .card-image
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png', alt='')
    .card-header
      | First Card
    .card-copy
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      ul
        li
          | 98
          span Items
        li
          | 298
          span Things
        li
          | 923
          span Objects
  .card
    .ribbon-wrapper
      .ribbon RIBBON
    .card-image
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png', alt='')
    .card-header
      | Another Card
    .card-copy
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      ul
        li
          | 98
          span Items
        li
          | 298
          span Things
        li
          | 923
          span Objects
  .card
    .card-image
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png', alt='')
    .card-header
      | The Last Card
    .card-copy
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      ul
        li
          | 98
          span Items
        li
          | 298
          span Things
        li
          | 923
          span Objects