doctype
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title Gulp Boilerplate V2 with Bourbon!
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
	meta(name="description", content="a revised boilerplate for gulp")
	//Place favicon.ico and apple-touch-icon.png in the root directory
	link(rel="stylesheet", href="css/style.css")
	link(href='http://fonts.googleapis.com/css?family=Lusitana:400,700', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic', rel='stylesheet', type='text/css')
body
	include header
	block content
	include footer
	script(src="js/demo.js")