extends layout-blocks/layout
block content
  //- Example
  include refills_examples/hero_unit
  include refills_examples/spacing
  //- Example
  include refills_examples/iconbulletpoints
  include refills_examples/spacing
  //- Example
  include refills_examples/device
  include refills_examples/spacing
  //- Example
  include refills_examples/sideImage
  include refills_examples/spacing
  //- Article Styles
  //- Add these to the layout.jade file to work (will overwrite set styles so add after style.css)
  //- link(href='http://fonts.googleapis.com/css?family=Lusitana:400,700', rel='stylesheet', type='text/css')
  //- link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
  //- link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic', rel='stylesheet', type='text/css')
  include refills_examples/cards
  include refills_examples/spacing
  //- Example
  include refills_examples/browser
  include refills_examples/spacing
  //- Example
  include refills_examples/comments
  include refills_examples/spacing




