extends layout-blocks/layout
block content
	.content.center
		h2 A nice simple gulp boilerplate that sets up a static server with live reload
		p The boilerplate gets you up and running with tasks that will process jade, less, and coffeescript.