/* ------------------------------------------------------------
               Bourbon.io framework
               Docs:
                http://bourbon.io/docs/
                http://neat.bourbon.io/docs/#variables
                https://github.com/thoughtbot/bitters
------------------------------------------------------------*/
// Import files for Bourbon
@import 'bourbon/bourbon';
@import "base/grid-settings";
@import "neat/neat";
@import 'base/base';

// Bourbon Neat Setup File
// @import '_custom/_layout';

/* ------------------------------------------------------------
               Startup Sass File Suggested by this site:
               http://devin-clark.com/getting-started-with-bourbon/
------------------------------------------------------------*/
// Variables
// $black: #000;

// @import "bourbon/bourbon";

// @import "neat/neat-helpers";
// @import "bitters/grid-settings";

// @import "bitters/variables";

// // Bitters Variable Overrides
// $base-font-family: "Open Sans", $sans-serif;
// $header-font-family: "Noto Sans", $base-font-family;

// @import "bitters/extends/base";
// @import "bitters/mixins/base";
// @import "bitters/typography";
// @import "bitters/forms";
// @import "bitters/tables";
// @import "bitters/lists";
// @import "bitters/flashes";

// @import "neat/neat";

/* ------------------------------------------------------------
               Custom stylization
------------------------------------------------------------*/

// Bourbon Refills Demo:
// Navigation1 Black Header
@import '_custom/_navigation1';
// hero_unit Block
@import '_custom/_hero_unit';
// IconBulletPoints
@import '_custom/_IconBulletPoints';
// device
@import '_custom/_device';
// Side Image
@import '_custom/_sideImage';
// Cards
@import '_custom/_cards';
// browser
@import '_custom/_browser';
// browser
@import '_custom/_comments';